@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* TRUCO: Quitar las flechas de los inputs de número (Precio/Minutos)
   El amarillo en "@layer" es normal, ignóralo.
*/
@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* Fondo gris suave para toda la app */
html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

body {
  background-color: #fafafa; /* zinc-50 */
  color: #18181b; /* zinc-900 */
}